.page-header {
  @mixin container;
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-header__title {
  display: none;
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    flex-basis: 27%;
  }
}

.page-header__img {
  width: 100%;
  height: auto;
}

.page-header__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-header__slogan {
  margin-top: 1%;
  flex-basis: 18%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  letter-spacing: 0.02em;
  color: $text-color-main;

  @media (min-width: $tablet-width) {
    margin-left: 5%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 15%;
  }
}

.page-header__phone {
  padding-left: 20px;
  margin-top: 1.5%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 100;
  letter-spacing: 0.02em;
  color: $text-color-main;
  background: url('../img/phone.png') 0px 3px no-repeat;

  @media (min-width: $tablet-width) {
    margin-left: 4%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 4%;
  }
}

.page-header__callback {
  @mixin btncall;
  margin-top: 0.7%;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

}
