.page-header {
  @mixin container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 9px;
}

.page-header__logo {
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: auto;
  margin-top: 7px;
  margin-left: 2px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 32px;
  line-height: 52px;
  font-weight: 900;
  color: $text-color;
}

.page-header__slogan {
  margin-left: 2%;
  margin-right: 4%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  color: $text-color;
}

.page-header__phone {
  background: url('../img/phone.png') 0px 0px no-repeat;
  padding-left: 20px;
  margin-left: 2%;
  margin-right: 7%;
}

.page-header__callback {
  @mixin btn;
}
