.page-footer {
  @mixin container;
  margin-top: 123px;
  margin-bottom: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;


  & .page-footer__img {
    width: 307px;

    @media (min-width: $mobile-albom-width) {
      width: 150px;
    }

    @media (min-width: $desktop-width) {
      width: 230px;
    }
  }
}

.page-footer__details {
  margin-top: 10px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: $text-color-main;

  @media (min-width: $mobile-albom-width) {
    margin-top: 0px;
    margin-left: 10%;
    flex-basis: 50%;
  }

  @media (min-width: $tablet-width) {
    margin-left: 3%;
    flex-basis: 21%;
  }
}

.page-footer__contacts {
  margin-top: 20px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: $text-color-main;
  & img {
    padding-right: 5px;
  }

  @media (min-width: $mobile-albom-width) {
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 2%;
    margin-top: 0%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 4%;
  }
}

.page-footer__address {
  margin-top: 20px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: $text-color-main;

  & img {
    padding-right: 5px;
  }

  @media (min-width: $mobile-albom-width) {
    margin-top: 40px;
    margin-left: 4%;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0%;
    margin-left: 2%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 4%;
  }
}

.page-footer__identity {
  margin-top: 20px;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 300;
  color: $text-color-main;

  @media (min-width: $mobile-albom-width) {
    margin-top: 40px;
    flex-basis: 21%;
  }

  @media (min-width: $tablet-width) {
    flex-basis: auto;
  }
}

.page-footer__policy {
  margin-top: 20px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: $text-color-main;

  @media (min-width: $mobile-albom-width) {
    margin-top: 40px;
    margin-left: 20%;
  }
}
