.page-header {
  @mixin container;
  margin-top: 10px;
  /*display: flex;
  justify-content: flex-start;
  align-items: flex-start;*/
  /*flex-direction: column;*/

  @media (min-width: $mobile-albom-width) {
    /*flex-direction: row;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.page-header__title {
  display: none;
}

.page-header__link {
  display: block;
}

.page-header__img {
  @media (min-width: $mobile-albom-width) {
    width: 150px;
    height: auto;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 307px;
    height: auto;
  }
}

.page-header__content {
  margin-right:auto;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (min-width: $mobile-albom-width) {
    margin-left: 5%;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0%;
  }
}

.page-header__slogan {
  flex-basis: 100%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  letter-spacing: 0.02em;
  color: $text-color-main;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    margin-left: 5%;
    flex-basis: 25%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 21.5%;
  }
}

.page-header__phone {
  margin-top: 13px;
  padding-left: 21px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $text-color-main;
  background: url('../img/phone.png') 0px 2px no-repeat;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-left: 5%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 5.5%;
  }
}

.page-header__callback {
  @mixin btncall;
  margin-top: 8px;
  margin-left: auto;
  padding: 5px 10px;
  font-size: 12px;

  @media (min-width: $mobile-albom-width) {
    font-size: 13px;
  }

  @media (min-width: $tablet-width) {
    padding: 9px 21px;
  }
}
