.screen-one {
  @mixin container;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  @media (min-width: $mobile-albom-width) {
    margin-top: 28px;
  }
}

.screen-one__left {
  display: none;

  @media (min-width: $mobile-albom-width) {
    position: absolute;
    margin-left: 2%;
    display: block;
    flex-basis: 60%;

    & img {
      width: 115px;
      height: auto;
    }
  }

  @media (min-width: $tablet-width) {
    position: static;
    flex-basis: 70%;

    & img {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 6.5%;
    flex-basis: auto;
    flex-shrink: 0;
  }
}

.screen-one__right {
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-left: 5%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10.4%;
  }
}

.screen-one__title {
  margin: 0 0;
  margin-top: 13px;
  padding: 0 0;
  padding-bottom: 27px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 31px;
  line-height: 35px;
  font-weight: 700;
  color: $text-color-main;
  position: relative;

  @media (min-width: $mobile-albom-width) {
    margin-left: 30%;
    padding-right: 3%;
    font-size: 32px;
    line-height: 36px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-right: 6%;
    font-size: 44px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 20%;
    font-size: 48px;
    line-height: 52px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 75px;
    height: 7px;
    left: 0px;
    bottom: 0px;
    background: url('../img/line.png') 0px 0px no-repeat;
  }
}

.screen-one__slogan {
  margin-top: 23px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $slogan-color;

  @media (min-width: $mobile-albom-width) {
    font-size: 26px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 36px;
  }
}

.screen-one__text {
  margin-top: 7px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: $text-color-light;

  @media (min-width: $tablet-width) {
    padding-right: 5%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 25%;
  }
}

.screen-one__btn {
  @mixin btn;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;

  @media (min-width: $mobile-albom-width) {
    margin-left: 17%;
    font-size: 13px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
  }
}
