.screen-three {
  @mixin container;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 7.7%;

  @media (min-width: $mobile-albom-width) {
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
  }
}

.screen-three__left {
  flex-basis: 40%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;

  @media (min-width: $mobile-albom-width) {
    & img {
      width: 150px;
      height: auto;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;

    & img {
      width: 242px;
      height: auto;
    }
  }
}

.screen-three__title {
  margin: 0%;
  padding: 0%;
  margin-left: 5%;
  padding-bottom: 30px;
  position: relative;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 700;
  color: $text-color-main;

  @media (min-width: $mobile-albom-width) {
    font-size: 30px;
    line-height: 34px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0%;
    margin-right: 7%;
    margin-top: 6%;
    padding-top: 42px;
    padding-bottom: 0px;
    font-size: 35px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 42px;
  }

  &::after {
    content: '';
    width: 75px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 100%;
    background: url('../img/line.png') 0px 0px no-repeat;

    @media (min-width: $tablet-width) {
      top: 0%;
    }
  }
}

.screen-three__right {
  text-align: left;
  flex-grow: 1;
  margin-top: 30px;

  @media (min-width: $mobile-albom-width) {
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 3%;
  }

  @media (min-width: $desktop-width) {
  }
}

.schema__step-details {
  margin-top: 11px;
  margin-left: 5.5%;
  margin-right: 2%;
 }

.shema__action {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-main;
}

.schema__result {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
  color: $text-color-slave;
}

.schema {
  margin: 0% 0%;
  margin-left: 2.6%;
  padding: 0% 0%;
  list-style: none;
}

.schema__step {
  display: flex;
  padding: 0% 0%;
  margin: 0% 0%;
  position: relative;
  margin-bottom: 12%;


  @media (min-width: $tablet-width) {
    margin-bottom: 14%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 9%;
  }

  &:nth-child(2n)::after {
    position:absolute;
    content: '';
    width: 17px;
    height: 71px;
    top: 92%;
    right: 98%;
    background: url('../img/arrow.png') 0px 0px no-repeat;
  }

  &:nth-child(2n+1)::after {
    position:absolute;
    content: '';
    width: 17px;
    height: 71px;
    left: 17%;
    top: 92%;
    background: url('../img/arrow_right.png') 0px 0px no-repeat;

    @media (min-width: $desktop-width) {
      left: 15%;
    }
  }

  &:last-child::after {
    width: 0;
    height: 0;
    background: none;
  }
}

.schema__step-number {
  flex-shrink: 0;
  box-sizing: border-box;
  padding-top: 38px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background: linear-gradient(81deg, #0cceca, #00baff) 0px 5px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
