.screen-six {
  @mixin container;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 328px;

  @media (min-width: $mobile-albom-width) {
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
  }
}

.screen-six__left {
  flex-basis: 40%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  order:2;

  @media (min-width: $desktop-width) {
    order:1;
  }
}

.screen-six__right {
  margin-bottom: 50px;
  flex-basis: 31%;
  text-align: left;
  order:1;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $mobile-albom-width) {
  }

  @media (min-width: $tablet-width) {
    margin-left: 2%;
    margin-bottom: 0px;
    order:2;
    display: row;
  }

  @media (min-width: $desktop-width) {
  }

  & img {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 150px;

    @media (min-width: $mobile-albom-width) {
    }

    @media (min-width: $tablet-width) {
      position: static;
      margin-top: 33%;
      margin-left: 3%;
      width: 233px;
    }

    @media (min-width: $desktop-width) {
    }

  }
}

.screen-six__schema {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.screen-six__step {
  margin-bottom:5%;
  margin-right: 2%;
  padding: 5%;
  flex-basis: 37%;
  box-shadow: 0px 0px 50px 0 rgba(89, 137, 191, 0.4);
  border-radius: 8px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 17px;
    height: 71px;
    background: url('../img/arrow_right.png') 0px 0px no-repeat;
  }

  &:nth-child(1)::after {
    left: 102%;
    top: 38%;
    transform: rotate(-90deg);
  }

  &:nth-child(2)::after {
    left: 47%;
    top: 94%;
  }

  &:nth-child(3)::after {
    left: 48%;
    top: 94%;
    background: url('../img/arrow.png') 0px 0px no-repeat;
  }

  &:nth-child(4)::after {
    left: -7%;
    top: 40%;
    background: url('../img/arrow.png') 0px 0px no-repeat;
    transform: rotate(90deg);
  }

  &:nth-child(5)::after {
    left: 102%;
    top: 38%;
    transform: rotate(-90deg);
  }

  &:nth-child(6)::after {
    background: none;
  }
}

.screen-six__step-number {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: $slogan-color;
}

.screen-six__step-details {
  margin: 5% 0;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: $text-color-main;
}

.screen-six__title {
  margin: 0%;
  margin-top: 0%;
  margin-right: 30%;
  padding: 0%;
  padding-bottom: 30px;
  position: relative;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: $text-color-main;
  flex-basis: 100%;

  @media (min-width: $mobile-albom-width) {
  }

  @media (min-width: $tablet-width) {
    margin-right: 5%;
  }

  @media (min-width: $desktop-width) {
  }

  &::after {
    content: '';
    width: 75px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 100%;
    background: url('../img/line.png') 0px 0px no-repeat;
  }
}

.screen-six__slogan {
  margin-top: 5%;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 700;
  color: $slogan-color;
  font-size: 25px;
  line-height: 28px;
}

.screen-six__btn, .screen-six__btn--bottom {
  @mixin btn;
  margin-top: 15%;
  display: none;

  @media (min-width: $mobile-albom-width) {
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
  }
}

.screen-six__btn--bottom {
  display: inline-block;
  margin-top: 0%;
  margin-left: 30%;


  @media (min-width: $mobile-albom-width) {
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
  }
}
