.screen-two {
  @mixin container;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: $mobile-albom-width) {
    margin-top: 250px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 350px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    margin-top: 424px;
  }
}

.screen-two__left {
  padding-top: 6px;
  padding-bottom: 47px;
  flex-basis: 40.2%;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0 rgba(89, 137, 191, 0.4);
  border-radius: 8px 8px 0 0;

  @media (min-width: $tablet-width) {
    border-radius: 8px;
  }
}

.screen-two__title {
  margin-left: 7%;
  padding-bottom: 30px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: $slogan-color;
  position: relative;

  @media (min-width: $mobile-albom-width) {
    margin-right: 15%;
  }

  @media (min-width: $tablet-width) {
    margin-left: 11%;
  }

  @media (min-width: $desktop-width) {
    margin-right: 43%;
  }

  &::after {
    content: '';
    width: 75px;
    height: 7px;
    position: absolute;
    left:0;
    bottom: 0;
    background: url('../img/line.png') 0px 0px no-repeat;
  }
}

.screen-two__slogan {
  margin-left: 7%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
  color: $text-color-main;

  @media (min-width: $tablet-width) {
    margin-left: 11%;
    margin-top: 30px;
    margin-right: 20%;
  }

  @media (min-width: $desktop-width) {
  }
}

.slider-cases {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 32px;
  }
}

.slider-cases__bwd, .slider-cases__fwd {
  width: 12px;
  height: 12px;
  margin-left: 17%;
  border-left: 4px solid $text-color-main;
  border-top: 4px solid $text-color-main;
  opacity: 0.5;
  transform: rotate(45deg);
  cursor: pointer;

  &:hover {
    border-left: 4px solid $slogan-color;
    border-top: 4px solid $slogan-color;
    opacity: 1;
  }
}

.slider-cases__fwd {
  transform: rotate(-135deg);
}

.slider-cases__items {
  margin-top: 6px;
  margin-bottom: 9px;
  position: relative;
}

.slider-cases__item {
  padding-left: 11.3%;
  padding-top: 16px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: #fff;

  &:hover {
    box-shadow: 0px 0px 32px 0 rgba(7, 147, 177, 0.34);
  }

  &--active {
    background-color: $color-active;
  }

  &--active:hover {
    box-shadow: none;
    cursor: auto;
  }

  &--active::after {
    content: '';
    margin-right: -15px;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0%;
    background-color: $color-active;
    transform: rotate(45deg);
  }
}

.slider-cases__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.slider-cases__person {
  margin-left: 7.5%;
  margin-right: 8%;
}

.slider-cases__name {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-main;
}

.slider-cases__city {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-style: italic;
  color: $text-color-slave;
}

.slider-cases__result {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $slogan-color;
}

.screen-two__btn, .screen-two__btn-right {
  @mixin btn;
  margin-top: 38px;
  margin-left: 11.2%;
  padding-left: 90px;
  padding-right: 90px;
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    padding-left: 131px;
    padding-right: 131px;
  }
}

.screen-two__btn-right {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 80px;
  padding-right: 80px;

  @media (min-width: $mobile-albom-width) {
    margin-left: 24%;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.screen-two__right {
  flex-grow: 1;
  flex-basis: 40%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0 rgba(89, 137, 191, 0.4);
  border-radius: 0 0 8px 8px;

  @media (min-width: $tablet-width) {
    margin-left: 4.3%;
    border-radius: 8px;
  }
}

.slider-text__bwd, .slider-text__fwd {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30px;
  border-left: 4px solid #fff;
  border-top: 4px solid #fff;
  opacity: 0.5;
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 1;
  }

  @media (min-width: $mobile-albom-width) {
    top: 48px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider-text__bwd {
  left: 10px;
}

.slider-text__fwd {
  right: 10px;
  transform: rotate(135deg);
}

.slider-text__slides {
  width: 300%;
  flex-shrink: 0;
  display:flex;
  transition: transform 0.8s ease;

  transform: translate(0%);
  /*transform: translate(calc(-100%/3));*/
  /*transform: translate(calc(-100%/3*2));*/
}

.slider-text__slide {
  width: calc(100%/3);
}

.slider-text__title {
  padding-left: 7%;
  padding-top: 13px;
  padding-bottom: 14px;
  display: flex;
  background-color: $slogan-color;
  flex-basis: 100%;

  @media (min-width: $tablet-width) {
    padding-left: 5%;
  }
}

.slider-text__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: none;

  @media (min-width: $mobile-albom-width) {
    display: block;
  }
}

.slider-text__person {
  margin: 0 6.2%;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }
}

.slider-text__name {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.slider-text__city {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}

.slider-text__details{
  margin: 20px 7%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: $text-color-main;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 34px 6.4%;
  }
}

.slider-text__strong {
  font-weight: 700;
  flex-basis: 100%;
}

.slider-text__p {
  flex-basis: 100%;
  margin: 10px 0;
}

.slider-text__result {
  @media (min-width: $mobile-albom-width) {
    flex-basis: 55%;
  }
}

.slider-text__summary {
  margin-left: 4.7%;
  margin-top: 10px;
  padding-top: 34px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-main;
  position: relative;

  @media (min-width: $mobile-albom-width) {
    flex-basis: 40%;
  }

  &::after {
    content: '';
    width: 75px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/line.png') 0px 0px no-repeat;
  }
}

.slider-text__steps {
  margin: 21px 0%;
  padding: 0% 0%;
  list-style: none;
  counter-reset: steps;
}

.slider-text_step {
  padding-left: 29px;
  position: relative;
  margin-top: 10px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: linear-gradient(81deg, #0cceca, #00baff) 0px 5px;
  }

  &::after {
    position: absolute;
    left: 4px;
    top: 0px;
    counter-increment: steps;
    content: counter(steps);
    font-family: MuseoSansCyrl, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
  }
}
