.contacts {
  @mixin container;
  margin-top: 200px;
  /*display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;*/
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*flex-direction: row;*/
    margin-top: 308px;
  }
}

.contacts__left {
  position: relative;
  order: 2;

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__map img {
  display: none;

  @media (min-width: $mobile-albom-width) {
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 50px 0 rgba(89, 137, 191, 0.4);
    border-radius: 8px;
    width: 100%;
    max-width: 710px;
  }
}

.contacts__address {
  padding: 2% 2%;
  box-shadow: 0px 0px 50px 0 rgba(89, 137, 191, 0.4);
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;

  @media (min-width: $mobile-albom-width) {
    margin-left: 3%;
    margin-right: 30%;
    position: absolute;
    top: -16%;
    left: 0%;
  }
}

.contacts__address-title {
  padding-left: 5%;
  flex-basis: 35%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-main;
}

.contacts__address-text {
  padding-left: 2%;
  flex-basis: 58%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: $text-color-main;

  & img {
    padding-right: 2%;
  }
}

.contacts__right {
  flex-basis: 31%;
  order: 1;

  @media (min-width: $desktop-width) {
    order: 2;
    margin-left:6%;
  }
}

.contacts__title {
  margin: 0%;
  margin-top: 0%;
  padding: 0%;
  padding-bottom: 23px;
  position: relative;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: $text-color-main;
  flex-basis: 100%;

  @media (min-width: $tablet-width) {
    font-size: 35px;
    line-height: 48px;
  }

  &::after {
    content: '';
    width: 75px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 100%;
    background: url('../img/line.png') 0px 0px no-repeat;
  }
}

.contacts__slogan {
  margin-top: 20px;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 700;
  color: $slogan-color;
  font-size: 24px;
  line-height: 36px;
}

.contacts_details {
  margin-top: 3%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: $text-color-main;
}

.contacts__btn {
  @mixin btn;
  padding: 15px 40px;
  margin-left: 3%;
  margin-top: 20px;
  margin-bottom: 70px;


  @media (min-width: $mobile-albom-width) {
    margin-bottom: 100px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 3%;
    margin-top: 20px;
    margin-bottom: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left:0%;
  }
}
