.calculator {
  @mixin container;
  margin-top: 68px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0 rgba(89, 137, 191, 0.4);
  border-radius: 8px;
  overflow: hidden;
}

.calculator__title {
  flex-basis: 100%;
  padding: 30px 20px 35px 20px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: $slogan-color;

  @media (min-width: $mobile-albom-width) {
    font-size: 35px;
    line-height: 42px;
    padding: 30px 70px 35px 70px;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 100px 35px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 215px 29px 214px;
  }
}

.calculator__form {
  padding-left: 15%;
  padding-bottom: 25px;

  @media (min-width: $mobile-albom-width) {
    padding-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 65%;
  }
}

.form-group {
  flex-basis: calc( 100%/2);
  margin-top: 29px;
}

.form-group--center {
  align-self: center;
}

.form-group label {
  margin-right: 7%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: $text-color-main;
  text-align: left;
  vertical-align: top;
}

.form-group input[type="text"] {
  margin: 10px 0;
  padding: 12px 12px;
  width: 80%;
  display: block;
  background-image: none;
  border: none;
  box-shadow: none;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  text-align: left;
  border-radius: 4px;
  background-color: $input-color;
  outline: none;
}

.form-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.calculator__btn-block {
  margin: 0 auto;
}

.calculator__btn  {
  @mixin btn;
  margin: 0 auto;
  padding: 15px 60px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 15px 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0px;
    padding: 15px 60px;
  }
}

#calculator__error {
    margin: 0;
    margin-bottom: 20px;
    font-family: MuseoSansCyrl, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    color: red;
    text-align: center;
}
