.screen-four {
  @mixin container;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;*/
  margin-top: 200px;

  @media (min-width: $mobile-albom-width) {
    margin-top: 250px;
  }

  @media (min-width: $tablet-width) {
    /*flex-direction: row;*/
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 376px;
  }
}

.screen-four__left {
  padding-top: 42px;
  padding-left: 4.4%;
  margin-bottom: 50px;
  flex-basis: 27.3%;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0 rgba(89, 137, 191, 0.4);
  border-radius: 8px;

  order: 2;

  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
    order: 1;
  }
}

.screen-four__middle {
  padding-top: 42px;
  padding-left: 4.4%;
  margin-bottom: 50px;
  flex-basis: 27.3%;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0 rgba(89, 137, 191, 0.4);
  border-radius: 8px;

  order: 3;

  @media (min-width: $mobile-albom-width) {
  }

  @media (min-width: $tablet-width) {
    margin-left: 2.5%;
    margin-bottom: 0px;
    order: 2;
  }
}

.screen-four__right {
  margin-bottom: 50px;
  flex-basis: 30%;
  flex-grow: 1;
  order: 1;
  display: flex;
  align-items: flex-start;

  & img {
    display: none;
  }

  @media (min-width: $mobile-albom-width) {
    margin-left: 2.5%;

    & img {
      display: block;
      width: 150px;
      height: auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
    display: block;
    order: 3;

    & img {
      margin-top: 7px;
      margin-left: 3.3%;
      width: 264px;
      height: auto;
    }
  }
}

.screen-four__right--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.screen-four__right--not-mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.screen-four__title {
  padding: 0%;
  padding-right: 5%;
  padding-bottom: 30px;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: $text-color-main;
  position: relative;

  @media (min-width: $mobile-albom-width) {
    font-size: 30px;
    line-height: 34px;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0px;
  }

  &::after {
    content: '';
    width: 75px;
    height: 7px;
    position: absolute;
    left: 0;
    bottom: 0%;
    background: url('../img/line.png') 0px 0px no-repeat;
  }
}

.screen-four__title--right {
  margin: 0;
  padding-right: 5%;
  font-size: 38px;
  line-height: 40px;

  @media (min-width: $mobile-albom-width) {
    margin-left: 20px;
    font-size: 32px;
    line-height: 38px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0px;
    margin-top: 42px;
    padding-bottom: 0px;
    padding-top: 33px;
    padding-right: 0;
    font-size: 32px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 42px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      bottom: 100%;
    }
  }
}

.screen-four__list {
  margin: 0% 0%;
  margin-top: 33px;
  padding: 0% 0%;
  padding-right: 5%;
  list-style: none;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: $text-color-main;
}

.screen-four__item {
  padding: 0% 0%;
  padding-left: 19px;
  padding-bottom: 11px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: linear-gradient(81deg, #0cceca, #00baff);
  }
}

.screen-four__btn, .screen-four__btn--bottom {
  @mixin btn;
  padding: 18px 40px;
  margin-top: 51px;
  background: linear-gradient(81deg, #0cceca, #00baff);
  color: #fff;

  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.screen-four__btn--bottom {
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 20px;
  display: inline-block;

  @media (min-width: $mobile-albom-width) {
    margin-left: 20%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
    display: none;
  }
}
