.screen-five {
  @mixin container;
  margin-top: 140px;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;*/

  @media (min-width: $tablet-width) {
    /*flex-direction: row;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.screen-five__left {
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  & img {
    display: none;
  }

  @media (min-width: $mobile-albom-width) {
    & img {
      display: block;
      width: 150px;
      height: auto;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    & img {
      margin-left: 4.3%;
      width: 213px;
      height: auto;
    }
  }
}

.screen-five__title {
  margin: 0%;
  margin-top: 0%;
  padding: 0%;
  padding-bottom: 32px;
  position: relative;
  font-family: MuseoSansCyrl, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: $text-color-main;

  @media (min-width: $mobile-albom-width) {
    margin-left: 25px;
    flex-basis: 60%;
    font-size: 32px;
    line-height: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    margin-left: 0%;
    margin-right: 10%;
    padding-top: 32px;
    padding-bottom: 0px;
    font-size: 35px;
    line-height: 42px;
  }

  &::after {
    content: '';
    width: 75px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 100%;
    background: url('../img/line.png') 0px 0px no-repeat;

    @media (min-width: $tablet-width) {
      top: 0;
    }
  }
}

.screen-five__title--right {
  margin-left: 0%;
  margin-top: 10px;
  padding-bottom: 25px;

  @media (min-width: $mobile-albom-width) {
    font-size: 32px;
    line-height: 40px;
  }

  &::after {
    content: '';
    width: 75px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 100%;
    background: url('../img/line.png') 0px 0px no-repeat;
  }
}


.screen-five__details {
  margin-top: 25px;
  flex-basis: 100%;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: $text-color-main;

  @media (min-width: $mobile-albom-width) {
    margin-right: 5%;
    margin-top: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 15%;
  }
}

.screen-five__right {
  flex-basis: 40%;
  flex-grow: 1;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-left: 3%;
  }
}



.screen-five__schema {
  margin-top: 17px;
}

.screen-five__step {
  padding-bottom: 28px;
  padding-top: 28px;
  display: flex;
  border-bottom: 1px solid $text-color-slave;

  &--last {
    border: none;
  }
}

.screen-five__step-number {
  padding-left: 7px;
  padding-top: 5px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 37px;
  line-height: 42px;
  font-weight: 700;
  color: $text-color-main;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 33px;
    width: 5px;
    height: 5px;
    background-color: $slogan-color;
  }
}

.screen-five__step-details{
  margin-left: 8.4%;
}

.screen-five__action {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-main;
}

.screen-five__result {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  color: $text-color-light;
}

.screen-five__btn {
  @mixin btn;
  margin-top: 21px;
  background: linear-gradient(81deg, #0cceca, #00baff);
  color: #fff;
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.screen-five__btn--bottom {
  display: inline-block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
