@define-mixin container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $mobile-albom-width) {
    width: 520px;
  }

  @media (min-width: $tablet-width) {
    width: 830px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
  }
}

@define-mixin btncall {
  display: inline-block;
  padding: 9px 21px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  color: $text-color-main;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 8px;
  border: 1px solid #05c2eb;
  background: #fff;
  outline: none;
  cursor: pointer;

  &:hover {
    background: linear-gradient(81deg, #0cceca, #00baff);
    color: #fff;
  }
}

@define-mixin btn {
  display: inline-block;
  padding: 18px 24px;
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 8px;
  border: 1px solid #05c2eb;
  background: linear-gradient(81deg, #0cceca, #00baff);
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 32px 0 rgba(7, 147, 177, 0.34);
  }
}
