$desktop-width: 1170px;
$tablet-width: 860px;
$mobile-albom-width: 550px;
$text-color-main: #282828;
$text-color-light: #9a9a9a;
$slogan-color: #06bae1;


$text-color2: #b0b0b0;
$color-active: #e9f7fc;



$slider-width: 1230px;
$body-bg: #eaeae6;

$color-viber: #4e4e4e;
$color-slider: #252525;
$color-price: #f74444;
$fs: 14px;
$lh: 18px;
$fs_small: 13px;
$lh_small: 18px;
