$desktop-width: 1170px;
$text-color: #282828;

$tablet-width: 900px;
$slider-width: 1230px;
$body-bg: #eaeae6;

$color-viber: #4e4e4e;
$color-slider: #252525;
$color-price: #f74444;
$fs: 14px;
$lh: 18px;
$fs_small: 13px;
$lh_small: 18px;
